<main class="w-full text-terminal-green-100 mt-2">
    <div class="flex justify-center items-center">
        <div class="flex flex-col items-start"">
            <h1>Blogs</h1>
            <% @blog_posts.each do |blog_post| %>
                <div class="flex flex-col my-2 p-2 rounded-sm w-full bg-input-background-100">
                    <h2><%= link_to blog_post.title, blog_post %></h2>
                    <p><%= blog_post.body %></p>
                </div>
            <% end %>
        </div>
    </div>
</main>