<main class="w-full text-terminal-green-100 mt-2">
    <div class="flex justify-center items-center">
        <div class="flex flex-col items-start"">
            <h1>Create New Blog</h1>
            
            <%= render partial: "blog_posts/partials/form", locals: { blog_post: @blog_post } %>
        </div>
    </div>
</main>