<main class="w-full text-terminal-green-100 mt-2">
    <div class="flex justify-center items-center">
        <div class="flex flex-col items-start"">
            <h1><%= @blog_post.title %></h1>
            <p><%= @blog_post.body %></p>
        </div>
    </div>
</main>