<!-- //? Sticky Top Navbar -->
<nav class="flex justify-between items-center p-4 h-20 sticky top-0 bg-input-border-100 text-terminal-window-100 z-50">
<!-- //? Left section links home -->
    <%= link_to root_path, class: "flex space-x-2" do %>
        <div class=" mx-2 lg:mx-0">Mason Roberts</div>
        <%= image_tag('MILK-icon.svg', size: '28x28', class: 'mx-auto') %>
        <div class="hidden lg:flex ">Developer3027 | DevTech group v0.30</div>
    <% end %>
    <!-- //? Right section Page Links -->
    <div class="flex flex-grow justify-end ">
        <ul class="flex space-x-2">
        <li class="hidden md:flex">blog</li>
        <li class="hidden md:flex"><%= link_to "erudition", eruditions_url %></li>
        <li class="hidden md:flex">hermit+</li>
        <li class="hidden md:flex">tunez</li>
        <li class="hidden md:flex">car-wash</li>
        <li class="hidden md:flex">salt&oak</li>
        <li class="md:hidden">dropdown</li>
        </ul>
    </div>
</nav>