<main class="min-h-min flex flex-col justify-center items-center bg-slate-50 w-full">
    <div class="flex lg:grid grid-cols-2 w-full justify-center items-center">
        <div class="w-full my-2">
            <div class="m-8">
                <h3 class="text-xl py-1">
                    Developer3027 presents
                </h3>
                <h1 class="text-5xl font-bold my-2">
                    Erudition
                </h1>
                <h2 class="text-xl py-1">Stop hunting, it's gathered here!</h2>
            </div>

            <div class="flex flex-col text-left items-center p-4 m-8 bg-gradient-to-br from-amber-300 via-yellow-200 to-red-200 rounded-lg border-2 border-rust-brown">
                <h3 class="font-medium">Web Dev, Frontend, Backend, Full Stack, Dev Ops.</h3>
                <p class="mx-2 lg:mx-8 py-1">
                    There are so many places to learn about web technoligies these days. You have Udemy, Pluralsight, Coursera, or LinkedIn just to name a few off the top of my head. I have used all these and more. Erudition is not going to replace them. Those are amazing platforms with teams of talented people getting paid to make them awesome. This site is a personal project. It is what I use to learn and grow so that some day I may be one of the ones getting paid to provide awesomeness to the world. Here I have collected some of the providers and content that I have used to help me along this journey. It is important to me that I not steal that content from them. Each of them have put alot of time, effort, and money into teaching me and millions of others. I have collected them all together here and organized them so I may better learn and refer back to them as needed. I am sure they will help you as well.
                </p>
                <p class="mx-2 lg:mx-8">
                   I have organized them into courses, complete with articles and exercises to get you started or shapren your skills.
                </p>
            </div>

            <div class="flex flex-col md:flex-row text-center justify-center items-center w-full">
                <%= link_to courses_path do %>
                    <div class="my-4 mx-2 p-4 text-left no-underline border-2 border-rust-brown rounded-lg w-[275px]">
                        <h2 class="text-xl">The knowledge</h2>
                        <p>I have collected a wide range of web tech topics for you to learn and enjoy.</p>
                    </div>
                <% end %>

                <%= link_to courses_path do %>
                    <div class="my-4 mx-2 p-4 text-left no-underline border-2 border-rust-brown rounded-lg w-[275px]">
                        <h2 class="text-xl">Teaching Styles</h2>
                        <p>So many accents and so many different styles of teaching. You shouldn't get bored.</p>
                    </div>
                <% end %>

            </div>
        </div>
        <div class="hidden relative lg:flex text-center justify-center bg-terminal-window">
            <div class="">
                <%= image_tag("https://milk-blog.s3.us-east-2.amazonaws.com/0Zx1bDv5BNY.webp", class: "w-[480px] h-[719px] object-contain", alt: "young lady sitting on sill, smilling with closed laptop in her lap") %>
            </div>
            <div class="absolute flex items-center text-center bottom-24 left-6 p-1 rounded-lg bg-rust-brown text-amber-500">
                <%= image_tag("https://milk-blog.s3.us-east-2.amazonaws.com/grad-cap.svg", class: "w-11 px-1") %>
                <span class="flex text-lg font-bold text-slate-300 px-4">
                    Jill Peterson ( Developer )
                </span>
            </div>
        </div>
    </div>
</main>