<main class="min-h-min flex flex-col justify-center items-center bg-slate-50 w-full">
    <div class="flex lg:grid grid-cols-2 w-full justify-center items-center">
        <div class="w-full my-2">
            <div class="m-8">
                <h3 class="text-xl py-1">
                    Developer3027 presents
                </h3>
                <h1 class="text-5xl font-bold my-2">
                    Erudition
                </h1>
                <h2 class="text-xl py-1">Stop hunting, it's gathered here!</h2>
            </div>

            <div class="flex flex-col text-left items-center p-4 m-8 bg-gradient-to-br from-amber-300 via-yellow-200 to-red-200 rounded-lg border-2 border-rust-brown">
                <h3 class="font-medium">Learn Web Dev at your own pace, on your own dime.</h3>
                <p class="mx-2 lg:mx-8 py-1">
                    YouTube is free, if you don't mind the adds. I use it alot when learning new skills from amazing providers. Here I have collected some favorites that are great at what they do. You don't have to hunt because I have them gathered here.
                </p>
                <p class="mx-2 lg:mx-8">
                   I have organized them into courses, complete with articles and exercises to get you started or shapren your skills.
                </p>
            </div>

            <div class="flex flex-col md:flex-row text-center justify-center items-center w-full">
                <!--//^ link -->
                <div class="my-4 mx-2 p-4 text-left no-underline border-2 border-rust-brown rounded-lg w-[275px]">
                    <h2>Skill Prep</h2>
                    <p>From HTML to Rails, from terminal to git!</p>
                </div>

                <!--//^ link -->
                <div class="my-4 mx-2 p-4 text-left no-underline border-2 border-rust-brown rounded-lg w-[275px]">
                    <h2>Exam Practice</h2>
                    <p>Ready for the exam? Polish your knowledge.</p>
                </div>

            </div>
        </div>
        <div class="hidden relative lg:flex text-center justify-center bg-terminal-window">
            <div class="">
                <%= image_tag("https://milk-blog.s3.us-east-2.amazonaws.com/0Zx1bDv5BNY.webp", class: "w-[480px] h-[719px] object-contain", alt: "young lady sitting on sill, smilling with closed laptop in her lap") %>
            </div>
            <div class="absolute flex items-center text-center bottom-24 left-6 p-1 rounded-lg bg-rust-brown text-amber-500">
                <%= image_tag("https://milk-blog.s3.us-east-2.amazonaws.com/grad-cap.svg", class: "w-11 px-1") %>
                <span class="flex text-lg font-bold text-slate-300 px-4">
                    Jill Peterson ( Developer )
                </span>
            </div>
        </div>
    </div>
</main>