<div class="">
  <div class="font-mPlusCode fw-bold text-terminal-green-100">
    <h4>Welcome to MILK,</h4>
    <p class="text-xs">
      My name is Mason Roberts, Developer3027. This is my little corner of the internet. I am an automotive technician living in the Carolina’s, US. I have been studying development and software engineering for the past several years.
    </p>
    <p class="text-xs">
      This project aims to gather all my favorite projects together in one box, one container, one kist, that I can work on and enjoy.
    </p>
    <p class="text-xs">
      Built in Rails, I hope you enjoy what I am building here. This is a collection of what I have learned, learning, and enjoy. I encourage you to check out the various content providers I have collected here. They are talented people working hard to teach and entertain. I need them organized a little differently. I helps me learn, helps me grow.
    </p>
    <p class="text-xs">
      If you find you like what I am doing and if it helps you, consider supporting. This project is open source and all providers collected here are transparent for you. The only thing I claim as my own is the thought put into this concept. As one may gather music to enjoy later, I have collected these bright points found on the web, so I may enjoy them later.
    </p>
    <p class="text-xs py-2">
      Thank you and please enjoy.
    </p>
  </div>
</div>
