<div class="w-full mx-4">
  <div class="flex justify-end items-center">
    <%= link_to "New course", new_admin_course_path, class: "bg-rose-500 hover:bg-rose-600 px-4 py-2 cursor-pointer rounded text-white" %>
  </div>
<p style="color: green"><%= notice %></p>
<div class="">
<h1>Courses</h1>

<div id="admin_courses" class="flex items-center bg-slate-100 border border-slate-400 rounded p-1">
  <%= image_tag("https://via.placeholder.com/320x180", class: "w-18 h-14 rounded") %>
  <span><%= @admin_courses.first.title %></span>
</div>


</div>
</div>
