<div class="w-full mx-4">
  <div class="flex justify-end items-center">
    <%= link_to "New course", new_admin_course_path, class: "bg-rose-500 hover:bg-rose-600 px-4 py-2 cursor-pointer rounded text-white" %>
  </div>
<p style="color: green"><%= notice %></p>
<div class="">
<h1>Courses</h1>

<div id="admin_courses" class="flex-col items-center bg-slate-100 border border-slate-400 rounded p-1">
  <div class="flex p-1">
    <div class="flex justify-center items-center px-3 border border-slate-500">
      ID
    </div>
    <div class="flex justify-center items-center px-3 w-28 border border-slate-500">
      <span>Image</span>
    </div>
    <div class="flex justify-center items-center px-3 w-40 border border-slate-500" >
      Title
    </div>
    <div class="flex justify-center items-center px-3 border border-slate-500" >
      Lessons
    </div>
  </div>
  <% @admin_courses.order(id: :asc).each do |admin_course| %>
    <%= render admin_course%>
  <% end %>
</div>


</div>
</div>
