<div class="flex flex-col w-full items-center justify-start bg-white">
  <p style="color: green"><%= notice %></p>

  <%= render @admin_course %>

  <div class="flex mt-4 gap-4">
    <%= link_to "Back to courses", admin_courses_path %>
    <%= button_to "Destroy this course", [:admin, @admin_course], method: :delete, data: { "turbo-confirm": "Ready to DELETE?" } %>
  </div>
</div>
